<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
        <style>
        img {
            max-width: 200px; /* Adjust the maximum width of the image */
            height: auto; /* Maintain aspect ratio */
        }
    </style>

</head>
<body>
    <h1>Products</h1>
    <ul>
        {% for product in products %}
        <li>
            <h2>{{ product.name }}</h2>
            <p>Price: {{ product.price }}</p>
            <img src="{{ product.image_url }}" alt="{{ product.name }}">
        </li>
        {% endfor %}
    </ul>
</body>
</html>
